<a href="http://localhost:3000/directors">Directors</a>
<a href="http://localhost:3000/actors">Actors</a>
<a href="http://localhost:3000/movies">Movies</a>

<h1>Add Director</h1>

<form action="/create_director">
<div>
  <label>Date of Birth</label>
  <input type="text" name="dob" placeholder="Date of Birth">
</div>

<div>
  <label>Name</label>
  <input type="text" name="name" placeholder="Name">
</div>

<div>
  <label>Bio</label>
  <textarea name="bio" placeholder="Bio"></textarea>
</div>

<div>
  <label>Image Url</label>
  <input type="text" name="image_url" placeholder="URL">
</div>

  <button>Create Director</button>
</form>
